# Konfigurationsdatei
.env

# Data
/backend/data/*
!/backend/data/migrations/
!/backend/data/migrations/**

# IDE-Dateien
/.idea
/.vscode

# Python Cache Dateien
__pycache__/
*.py[cod]
*$py.class

# dependencies
/frontend_web/node_modules
/frontend_web/.pnp
/frontend_web/.pnp.js

/frontend_pwa/node_modules
/frontend_pwa/.pnp
/frontend_pwa/.pnp.js

# testing
/frontend_web/coverage
/frontend_pwa/coverage



# production
/frontend_web/build

/frontend_pwa/build
/frontend_pwa/dev-dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# virtual environment
.venv/

# docker
docker-compose.yml