services:
  backend-api:
    image: markjnt/palliroute-backend-api
    container_name: palliroute-backend-api
    pull_policy: always
    volumes:
      - ./backend/data:/backend/data
      - /path/to/xlsx/Mitarbeiterliste:/backend/data/excel_import/Mitarbeiterliste
      - /path/to/xlsx/Export_PalliDoc:/backend/data/excel_import/Export_PalliDoc
    environment:
      - SECRET_KEY=your_secret_key_here
      - GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
      - CORS_ORIGINS=https://localhost:3000,https://localhost:3001,https://your-server-hostname:3000,https://your-server-hostname:3001,http://localhost:3000,http://localhost:3001
      - APLANO_API_KEY=your-aplano-api-key-here
    ports:
      - "9000:9000"
    restart: unless-stopped
    networks:
      - app-network

  backend-scheduler:
    image: markjnt/palliroute-backend-scheduler
    container_name: palliroute-backend-scheduler
    pull_policy: always
    volumes:
      - /path/to/xlsx/Export_PalliDoc:/scheduler/data/excel_import/Export_PalliDoc
    environment:
      - AUTO_IMPORT_ENABLED=true
      - AUTO_IMPORT_TIMES=08:00,12:30,16:00
      - BACKEND_API_URL=http://backend-api:9000
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - backend-api

  frontend-web:
    image: markjnt/palliroute-frontend-web
    container_name: palliroute-frontend-web
    pull_policy: always
    volumes:
      - ./docker/certs:/etc/nginx/certs:ro
    ports:
      - "3000:3000"
    depends_on:
      - backend-api
    restart: unless-stopped
    networks:
      - app-network

  frontend-pwa:
    image: markjnt/palliroute-frontend-pwa
    container_name: palliroute-frontend-pwa
    pull_policy: always
    volumes:
      - ./docker/certs:/etc/nginx/certs:ro
    ports:
      - "3001:3001"
    depends_on:
      - backend-api
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge 